body{
    background-color: rgb(221, 252, 209)!important;
}
.body-view{
    margin:0px;
    display:flex;
    justify-content: center;
    height:100vh;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    flex-direction: column;
}

.container{
    background-color: rgba(124, 202, 193, 0.229);
    width: 500px !important;
    min-height: 300px !important;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
}

.textarea{
    resize: none;
    width: 100%;
    height: 150px;
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px darkgray;
}


.counter-container p{
    font-size: 16px;
    color: gray;
}

.total-counter{
    color: slateblue;
}

.remaining-counter{
    color: rgb(99, 8, 8);
}

.vowel-counter{
    color: rgb(170, 170, 11);
}

.button{
    background: black;
    color: white;
    border-color: white;
    border-radius: 10px;
    padding: 2px 5px;
}
.alert{
    font-family: sans-serif;
    color: red;
}